.point-Business {
    color: rgba(44, 208, 126, .5);
}

.point-Social {
    color: rgba(44, 171, 227, .5);
}

.point-Important {
    color: rgba(255, 80, 80, .5);
}

.point-College {
    color: rgba(252, 46, 153, 0.5);
}